
  <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

      <div class="navbar navbar-default yamm" role="navigation" id="navbar">

          <div class="container">

            <div class="navbar-collapse collapse" id="navigation">

            <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="/perfil" >Perfil </a>
              </li>
              <li>
                  <a href="/calendario" >Calendario</a>
              </li>
              <li >
                  <a href="/tienda">Tienda </a>
              </li>
              <li >
                  <a href="/streaming">Streaming </a>
              </li>

              <li >
                  <a href="/combatzone">Zona de Combate </a>
              </li>

              <li class="dropdown">
                  <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Liga <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/clasificacion">Clasificación</a>
                      </li>
                      <li><a href="/combates">Combates</a>
                      </li>
                  </ul>
              </li>
              </ul>

              </div>

          </div>
      </div>
    </div>
