<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link href="css/style.default.css" rel="stylesheet" id="theme-stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body>

<% include partials/cabecera %>
<% if (tipo!=null) { %>
<% include partials/barranav %>
<% } %>


        <div class="col-md-9 clearfix" id="customer-account">
            <p class="lead">En esta página podrás cambiar tus datos personales</p>
            <div class="box">

                <div class="heading">
                    <h3 class="text-uppercase">Cambiar contraseña</h3>
                </div>

                <form action="/config" method="post" name="fvalida">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password_1" class="sr-only">Nueva contraseña</label>
                                <input type="password"  id="password_1" class="form-control" name="password_1" required autofocus />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password_2" class="sr-only">Repite nueva contraseña</label>
                                <input type="password" class="form-control" id="password_2" name="password_2" required autofocus/>
                            </div>
                        </div>
                    </div>
                    <br>
                    <!-- /.row -->
                    <div class="text-center">
                      <i class="fa fa-paper-planes"></i> <input type="button" class="btn btn-template-main" value="Guardar cambios" onclick="valida_envia()">
                    </div>
                </form>

            </div>
            <!-- /.box -->
            <div class="box">

                <div class="heading">
                    <h3 class="text-uppercase">Cambiar email</h3>
                </div>

                <form action="/config2" method="post" name="fvalidamail">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mail">Nuevo email</label>
                                <input type="email" class="form-control" name="mail_1" required>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mail">Repite el nuevo email</label>
                                <input type="email" class="form-control" name="mail_2" required>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                    <div class="text-center">
                      <i class="fa fa-paper-planes"></i> <input type="button" class="btn btn-template-main" value="Guardar cambios" onclick="valida_mail()">
                    </div>
                </form>

            </div>

            <script>
            function valida_envia(){
               	//valido el nombre
                if(document.fvalida.password_1.value.length==0 || document.fvalida.password_2.value.length==0 ) {
                  swal({
                    text: "Rellena ambos campos",
                    icon: "error",
                  });
                  return 0;
                }

                if (document.fvalida.password_1.value !=document.fvalida.password_2.value){
                  swal({
                    text: "Las dos contraseñas tienen que coincidir",
                    icon: "error",
                  });
                  return 0;
               	}

               	//el formulario se envia
                swal({
                title: "¿Seguro que quieres actualizar la contraseña?",
                icon: "warning",
                buttons: ["Cancelar", "Continuar"],
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                  document.fvalida.submit();

                } else {
                    return 0;
                }
              });
            }
            </script>

            <script>
            function valida_mail(){

              if(document.fvalidamail.mail_1.value.length==0 || document.fvalidamail.mail_2.value.length==0 ) {
                swal({
                  text: "Rellena ambos campos",
                  icon: "error",
                });
                return 0;
              }
               	//valido el nombre

               	if (document.fvalidamail.mail_1.value !=document.fvalidamail.mail_2.value){
                  swal({
                    text: "Los dos emails tienen que coincidir",
                    icon: "error",
                  });
                  	return 0;
               	}

               	//el formulario se envia
                  swal({
                  title: "¿Seguro que quieres actualizar el email?",
                  icon: "warning",
                  buttons: ["Cancelar", "Continuar"],
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                    document.fvalidamail.submit();

                  } else {
                      return 0;
                  }
                });


            }

            </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
